*            text eol=lf
*.txt        text
*.js         text
*.ts         text
*.scss       text
*.css        text
*.html       text
*.json       text
*.xml        text
*.md         text
*.svg        text
LICENSE      text

*.war        binary
*.ttf        binary
*.png        binary
*.jpg        binary
*.ico        binary
